.feature-section {
  padding: 94px 0px 46px 0px;
}
.features-list {
  display: flex;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--team-background-color);
  width: 100%;
  height: 120px;
}
.title-scnd {
  @include font(bold, 36px, 1.16, 0.03em);
  text-align: center;
  color: var(--primery-menu-link-color);
}
.title-thrd {
  @include font(bold, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primery-menu-link-color);
  margin-bottom: 10px;
}
.feature__description {
  @include font(normal, 14px, 1.71, 0.03em);
}

.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}