.footer-section {
  background-color: var(--primery-background-color);
  padding: 60px 0px;
}
.address-list{
  text-align: center;
}
.address-list__map-link {
  color: var(--primery-white-color);
}
.address-list__item:not(:last-child){
  margin-bottom: 8px;
}
.address-list__link {
  @include font (normal, 14px, 1.71, 0.03em);
  color: var(--primery-address-text-color);
  transition: color var(--time) var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--primery-white-color);
  }
}
.link-text {
  text-align: center;
  font-family: var(--primery-font);
  @include font (bold, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
  margin-top: 60px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
    .foot{
      display: flex;
      justify-content: space-between;
    }
  .link-text{
    margin-top: 5px;
  }
}




@media screen and (min-width: 1200px) {
  .footer-container{
    display: flex;
    max-width: 1200px;
  }
  .address-list{
    margin-right: 70px;
  }
  .link-text{
    text-align: left;
    margin-top: 12px;
  }
  .logo-footer {
    text-align: left;
  }
  .address-list__item {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}