.header {
  padding: 16px 0px;
}
.menu {
  display: none;
}
.contacts-list {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 768+
@media screen and (min-width: 768px){
  .burger-btn {
    display: none;
  }
  .navigation{
    display: flex;
  }
  .menu{
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--primery-menu-link-color);
    transition: color var(--time) var(--cubic-bezier);
    position: relative;
    &.current {
      color: var(--primery-accent-color);
    }
    &:hover,
    &:focus {
      color: var(--primery-accent-color);
    }
  }
  .current::after {
    display: block;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: var(--primery-accent-color);
    width: 100%;
    position: absolute;
    transform: translateY(22px);
  }
  .contacts-list {
    display: block;
  }
  .contacts-list__link {
    font-size: 12px;
    color: var(--primery-gray-color);
  }
  .contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}



// 1200+
@media screen and (min-width: 1200px){
  .header {
    padding: 24px 0px;
    border-bottom: 1px solid #ececec;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
   
  .contacts-list__link {
    display: flex;
    align-items: center;
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--primery-gray-color);
    transition: color var(--time) var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--primery-accent-color);
    }
  }   
  .header-container {
    display: flex;
    align-items: center;
  }
   .current::after {
    transform: translateY(27px);
  }
  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-list__item:not(:first-child) {
    margin-left: 50px;
  }
 

  
}
