.logo {
    font-family: var(--secondary-font);
    @include font(bold, 26px, 1.19, 0.03em);
    color: var(--primery-accent-color);    
}
.logo_dark{
    color: var(--primery-logo-color);
}
.logo_light{
    color: var(--primery-white-color);
}
.logo-footer{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    
}
// 768+
@media screen and (min-width: 768px){
    .logo-header{
        margin-right: 88px;
    }
}
// 1200+
@media screen and (min-width: 1200px){
    .logo-header{
        margin-right: 92px;
    }
    .logo-footer{
        display: block;
        margin-bottom: 20px;
    }
    
}