@media screen and (max-width: 767px){
    

.mobile-menu__list {
   margin-top: 48px;
   margin-left: 40px;
}
.mobile-menu__item {
    margin-top: 32px;
    
}
.mobile-menu__link{
    font-family: var(--primery-font);
    font-style: normal;
    @include font (500, 40px, 1.17, 0.02em);
    text-align: center;
    color: var(--primery-menu-link-color);
}
.mobile-menu__contacts-list {
    margin-top: 302px;
    margin-left: 40px;
}
.mobile-menu__contacts-item:not(:last-child){
    margin-bottom: 32px;
}
.mobile-menu__tel-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;

}
.mobile-menu__mail-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}
.mobile-link__list {
    margin-top: 64px;
    margin-left: 40px;
    display: flex;
}
.mobile-list__item:not(:last-child) {
    margin-right: 20px;
}
.mobile-list__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primery-white-color);


    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.mobile-menu__close-btn {
    position: absolute;
    top: 10;
    right: 15;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
}
.mobile-menu__close-img {
    width: 18px;
    height: 18px;
}
}
@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}