.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  }   
  .social-link_dark{
    background-color: #ffffff;
    fill: #afb1b8;
  }
  .social-link_light{
    background: rgba(255, 255, 255, 0.1);
    fill: var(--primery-white-color);
  } 
  .social-list__img {
    width: 20px;
    height: 20px;
  }



@media screen and (min-width: 1200px){


 
}

 
