.footer-form-head{
  text-align: center;
  font-family: var(--primery-white-color);
  font-style: normal;
  @include font(bold, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color:var(--primery-white-color);
  margin-top: 60px;
  margin-bottom: 14px;
}
.footer-form-input{
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}
.footer-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  background-color: var(--primery-accent-color);
  border-radius: 4px;
  border: none;
  font-family: var(--primery-font);
  font-style: normal;
  @include font (bold, 16px, 1.87, 0.06em);
  color: var(--primery-white-color);
  margin: 0 auto ;
}
.footer-btn-img{
  margin-left: 10px;
  fill: var(--primery-white-color);
}

@media screen and (min-width: 768px){
  .footer-form-input{
    width: 450px;
    margin-left:149px ;
  }
  .footer-form-head {
    margin-top: 0;
  }
}



@media screen and (min-width: 1200px){
  .footer-subscribe-form {
    margin-left: 90px;
  }
  .footer-form-head{
    // text-align: left; 
    margin-bottom: 14px;
  }
  .form-wrapper{
    display: flex;
  }
  .footer-form-input{
    width: 358px;

  }
  .footer-btn{
    margin-left: 12px;
  }
  .footer-btn-img{
    margin-left: 10px;
    fill: var(--primery-white-color);
  }
  
    
  
}
