:root {
    --primery-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primery-white-color: #ffffff;
    --primery-gray-color: #757575;
    --primery-logo-color: #000000;
    --primery-accent-color: #2196f3;
    --primery-menu-link-color: #212121;
    --primery-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --primery-address-text-color: rgba(255, 255, 255, 0.6);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
  }